.boxtab {
    width: 600px;
    margin: 20px auto;
}
table {
    background-color: #da4c62;
    width: 100%;
    font-family: 'Arial Narrow Bold', sans-serif;
    border-collapse: collapse;
    height: 20px;
}
th, td {
    padding: 20px;
    text-align: center;
}
thead {
    background-color: #ff8770;
    border-bottom: solid 5px #6a2b57;
    color: #6a2b57;
    padding: 0;
}
tbody tr:nth-child(even) {
    background-color: #993559;
}
.initcell {
    position: static;
    z-index: 0;
    justify-content: center;
    display: flex;
}
.butbox {
    background-color: #6a2b57;
    margin: 0 5px;
    color: #e9e9e9;
    padding: 5px 10px;
    text-decoration: none;
    position: relative;
    top: 1px;
    border-radius: 5px;
}

.butbox:hover {
    background-color: #ff8770;
    color: #6a2b57;
    transition: 0.5s;
}
@media screen and (max-width: 1070px) {
    .boxtab {
        max-width: 410px;
        margin: 10px auto;
        display: flex;
        font-size: 14px;
    }
    th, td {
        padding: 7px 7px;
    }
    .initcell {
        display: block;
        width: max-content;
        height: max-content;
    }
    .butbox {
       margin-top: 2px;
       padding: 4px 2px;
       display: block;
       text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .boxtab {
        max-width: 350px;
    }
}